@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --light: #ebebeb;
  --dark: #3f3f3f;
  --white: #fff;
  --purple: #9c40e7;
  --light-purple: #a85ae9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/cubes.png);
  color: var(--dark);
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--purple);
  margin-bottom: 1rem;
}

.container {
  background-color: var(--white);
  width: fit-content;
  margin: 6rem auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

.container-header {
  text-align: center;
}

form {
  margin-bottom: 2rem;
}

.definition {
  margin-top: 1.5rem;
}

button {
  cursor: pointer;
  background-color: var(--purple);
  border: 1px solid var(--purple);
  border-radius: 4px;
  padding: 0.2rem;
  color: white;
}

input {
  background-color: var(--white);
  color: var(--dark);
  padding: 0.2rem;
  border-radius: 4px;
  border: 1px solid rgb(59, 59, 79);
}

input:focus {
  border: 1px solid var(--light-purple);
  outline: none;
}

.bold {
  font-weight: bold;
  color: var(--light-purple);
}

span {
  color: var(--dark);
}
